body, div, header, section, h1 {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

header, footer{
    text-align: left;
    background-color: darkcyan;
    color: white;
    height: 50px;
    padding: 5px 80px;
}

#wrapper {
  text-align: center;
}

section{
    //width: 1000px;
    display: inline-block;
    padding: 5px 15px;
    margin: 0 auto;
}

#toolbox, #canvas-container, #colorbox, #svgContainer{
    display: inline-block;
    margin: 5px;
    border: 2px solid #a5a5a5;
}

#svgContainer {
  display: block;
  margin: auto;
  text-align: left;
}
